#convenientItems{
    position: fixed; 
    right: 60px; 
    bottom: 60px;
}
#convenientItems *{
    display: block;
    box-sizing: border-box; 
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 50px; 
    height: 50px;
    border: 1px solid black; 
    border-radius: 50%;
    font-family: sans-serif; 
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
}
#convenientItems span{
    color: black;
    opacity: 0.3;
    z-index: 10; 
    font-size: 50px;
}
#convenientItems span:hover{
    opacity: 1;
    cursor: pointer;
    color: white;
    background: var(--color-of-convenient-item);
    border: 0;
    transition: 0.3s;
}
#convenientItems.active #convenientLinks{
    border: 5px solid white;
    opacity: 1;
    background: var(--color-of-convenient-item);
    transform: rotate(675deg);
    transition: 1s;
}
#convenientItems.active a{
    border: 1px solid black;
    opacity: 1;
    color: black;
}
#convenientItems.active a:first-of-type{
    transform: translateX(-80px);
    transition: 0.3;
}
#convenientItems.active a:nth-child(3){
    transform: translateX(-40px) translateY(-40px);
    transition: 0.6s;
}#convenientItems.active a:last-of-type{
    transform: translateY(-80px);
    transition: 0.9s;
}
#convenientItems>a:first-of-type:hover{background: var(--color-of-convenient-item);color: white;border: 0;}
#convenientItems>a:nth-child(3):hover{background: var(--color-of-convenient-item);color: white;border: 0;}
#convenientItems>a:last-of-type:hover{background: var(--color-of-convenient-item);color: white;border: 0;}
