#convenientItems{
    position: fixed  !important;/*combo !important là để tách riêng chỗ css này ra khỏi bài html, nếu cần dùng !important thì cứ ngắt file này ra mà dùng*/
    right: 60px !important; 
    bottom: 60px !important;
}
#convenientItems *{
    display: block !important;
    box-sizing: border-box !important; 
    position: absolute !important;
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important;
    width: 50px !important; 
    height: 50px !important;
    border: 1px solid black !important; 
    border-radius: 50% !important;
    font-family: sans-serif !important; 
    color: white !important;
    text-decoration: none !important;
    opacity: 0 !important;
    transition: 0.3s !important;
}
#convenientItems span{
    color: black !important;
    opacity: 0.3 !important;
    z-index: 10 !important; 
    font-size: 50px !important;
}
#convenientItems span:hover{
    opacity: 1 !important;
    cursor: pointer !important;
    color: white !important;
    background: var(--color-of-convenient-item) !important;
    border: 0 !important;
    transition: 0.3s !important;
}
#convenientItems.active #convenientLinks{ /*khi convenientItems(thẻ div bọc hết mấy cái link với cả dấu '+') có thêm class '.tapThis' thì convenientLinks('+') sẽ hoạt động theo id và class*/
    border: 5px solid white !important;
    opacity: 1 !important;
    background: var(--color-of-convenient-item) !important;
    transform: rotate(675deg) !important;
    transition: 1s !important;
}
#convenientItems.active a{
    border: 1px solid black !important;
    opacity: 1 !important;
    color: black !important;
}
#convenientItems.active a:first-of-type{
    transform: translateX(-80px) !important;
    transition: 0.3 !important;
}
#convenientItems.active a:nth-child(3){
    transform: translateX(-40px) translateY(-40px) !important;
    transition: 0.6s !important;
}#convenientItems.active a:last-of-type{
    transform: translateY(-80px) !important;
    transition: 0.9s !important;
}
#convenientItems>a:first-of-type:hover{background: var(--color-of-convenient-item) !important;color: white !important;border: 0 !important;}
#convenientItems>a:nth-child(3):hover{background: var(--color-of-convenient-item) !important;color: white !important;border: 0 !important;}
#convenientItems>a:last-of-type:hover{background: var(--color-of-convenient-item) !important;color: white !important;border: 0 !important;}
