.convenientItems{
    position: fixed;
    right: 0px; top: 50%;
}
.convenient:not(.which){
    position: absolute;
    display: inline-block;
    text-decoration: none;
    font-size: 85%;
    width: 0; height: 0; overflow: hidden;
}
.convenient.which{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    width: 30px; height: 40px;
    padding-right: 10px;
    border: 1px solid black; border-right: 0;
    border-top-left-radius: 50%; border-bottom-left-radius: 50%;
}
.convenient.which:hover{
    opacity: 1;
    color: white;
    background: rgb(45, 133, 221);
    border: 0;
    transition: 0.3s;
}
.convenient.which:hover p{
    transform: rotate(180deg);
    transition: 0.3s;
}
.convenientItems:hover .convenient.zalo{
    width: 40px; height: 40px; line-height: 40px; color: black;
    text-align: center;
    border: 1px solid black; border-radius: 30%;
    transform:translateX(-20px) translateY(-40px);
    transition: 0.3s;
}
.convenientItems:hover .convenient.figma{
    width: 40px; height: 40px; line-height: 40px; color: black;
    text-align: center;
    border: 1px solid black; border-radius: 30%;
    transform: translateX(-40px);
    transition: 0.3s;   
}
.convenientItems:hover:hover .convenient.notion{
    width: 40px; height: 40px; line-height: 38px; color: black;
    text-align: center;
    border: 1px solid black; border-radius: 30%;
    /* box-shadow: 0 0 10px rgba(45, 133, 221, 0.4); */
    transform: translateX(-20px) translateY(40px);
    transition: 0.3s;
}
.convenient.zalo:hover, .convenient.figma:hover, .convenient.notion:hover{
    width: 40px; height: 40px;
    background: rgba(45, 133, 221, 1);
    border: 1px solid rgba(45, 133, 221, 1);
    color: white;
    box-shadow: 0 0 10px rgba(45, 133, 221, 0.4);
}
.convenient.zalo:hover ~ .convenient.which>p{
    color: blue;
    transform: rotate(70deg);
    transition: 0.6s;
}
.convenient.figma:hover ~ .convenient.which>p{
    color: purple;
    transform: rotate(0deg);
    transition: 0.6s;
}.convenient.notion:hover ~ .convenient.which>p{
    color: black;
    transform: rotate(-70deg);
    transition: 0.6s;
}
