#figma{
    display: block;
    position: fixed;
    padding: 10px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    opacity: 40%;
    bottom: 0;
    right: 0;
}
#figma:hover{
    background-color: rgb(31, 136, 255);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border: 0;
    opacity: 100%;
    bottom: 10px;
    right: 10px;
    transition: 0.3s;
}
/* ================================================================== */